<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/css/uikit.css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
	<style>
		body {
			padding: 0;
			margin: 0;
			background-color: #FDFDFD;
			width: 100%;
			height: 100%;
			font-family: 'Nunito', sans-serif;
		}
		.sidebar {
			width: 20%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			background-color: white;
		}
		.logo {
			width: 100%;
			height: 100px;
		}
		.logo1 {
			width: 100%;
			height: 100%;
			display: block;
			background-image: url("logo.png");
			background-size: 80% auto;
			background-repeat: no-repeat;
			margin: 5% 10%;
		}
		.main-background {
			margin-left: 20%;
			width: 80%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		.main-foreground {
			margin-top: 5%;
			background-color: #F9F9F9;
			height: 100%;
			/*padding-top: 10%; */
			width: 100%;
			/* margin-top: 10%; */
			position: absolute;
			left: 0;
		}
		.main-widget {
			background-color: white;
			height: 25%;
			width: 30%;
			margin: 1.5%;
			margin-top: 0;
			position: relative;
			float: left;
			z-index: 0;
		}
		.widget-content {
			margin: 10%;
			font-size: 20px;
			color: black;
		}
		.add-widget {
			background-color: #dbdbdb;
			text-align: center;
			
		}
		.add-widget > .widget-content{
			font-size: 30px;
		}
		.add-widget:hover {
			background-color: lightgrey;
		}
		.widget-content > span {
			font-size: 16px;
			display: block;
		}
		.universities {
			display: block;
			overflow: hidden;
		}
		.main-info {
			display: block;
			margin: 1.5%;
			height: 50%;
		}
		.big-info-card {
			width: 65%;
			margin: 1.5%;
			margin-bottom: 1%;
			margin-top: 0	;
			margin-left: 0;
			float:left;
			bottom: 0;
		}
		.small-info-card {
			display: block;
			width: 31%;
			float:left;
			height: 50%;
			margin: 1.5%;
			margin-top: 0;
			margin-right: 0;
			margin-bottom: 0;
		}
		.uk-card {
			color: black;
		}
		.top-banner {
			position: absolute;
			margin-top: -5%;
      		margin-left: 0px;
			width: 100%;
			height: 15%;
			z-index: 0;
		}
		.background-fixed {
			position:fixed;
			height: 200%;
			width: 100%;
			background-color: #F9F9F9;
		}
	</style>
</head>
<body>
	<div class="background-fixed"></div>
	<div class="sidebar">
		<div class="logo">
			<div class="logo1"></div>
		</div>

		
		<ul class="uk-list" style="text-align: right; margin: 50px;">
			<li class="uk-text-uppercase uk-text-primary uk-text-small">Planner</li>
			<li>Your dashboard</li>
			<li>Add a university</li>
			<li>Change your course</li>
		</ul>

		<ul class="uk-list" style="text-align: right; margin: 50px;">
			<li class="uk-text-uppercase uk-text-primary uk-text-small">Access</li>
			<li>Project Access</li>
			<li>Get a mentor</li>
		</ul>

		<ul class="uk-list" style="text-align: right; margin: 50px;">
			<li class="uk-text-uppercase uk-text-primary uk-text-small"></li>
			<li><a href = "index.html">Log off</a></li>
		</ul>
	</div>

	<div class="main-background uk-background-primary">
		<div class="main-foreground">
				<div class="top-banner uk-background-primary"></div>
			<div class="universities">
				<div class="main-widget uk-card uk-card-default">
					<div class="widget-content">
						<strong>Imperial College London</strong>
						<span>Computing (MEng)</span>
					</div>
				</div>
				<div class="main-widget uk-card uk-card-default">
					<div class="widget-content">
						<strong>University of Cambridge</strong>
						<span>Computer Science</span>
					</div>
				</div>
				<div class="main-widget uk-card uk-card-default">
					<div class="widget-content">
						<strong>University of Durham</strong>
						<span>Mathematics and Computer Science</span>
					</div>
				</div>
				<div class="main-widget uk-card uk-card-default">
					<div class="widget-content">
						<strong>University of Durham</strong>
						<span>IT</span>
					</div>
				</div>
				<div class="main-widget add-widget uk-card uk-card-default">
					<div class="widget-content">
						+
					</div>
				</div>
			</div>

			<div class="main-info">
				<div class="big-info-card">
					<div class="uk-card uk-card-default uk-card-body">
						<h3 class="uk-card-title">Computer Science</h3>
						<p>Computer science and the problem solving and IT skills it develops can be useful in many different careers such as information technology and information management, engineering and manufacturing, construction, broadcast media and performing arts, management, journalism and publishing, and medical technology.</p>
					</div>
				</div>
				<div class="small-info-card">
					<div class="uk-card uk-card-default uk-card-body">
						<h3 class="uk-card-title">Key Dates</h3>
						<p><strong>15th January 2019 </strong><br>
							Deadline for undergraduate courses 
							<br>
							<br><strong>5th July 2019 </strong>
							<br>
							Clearing opens
							<br>
							<br><strong>15th August 2019</strong>
							<br>A Level results day
						</p>
					</div>
				</div>
				<div class="big-info-card">
						<div class="uk-card uk-card-default uk-card-body" style = "margin-bottom: 3%">
							<h3 class="uk-card-title">Articles by mentors</h3>
							<p><ul class="uk-list uk-list-divider">
								<li><a href = "">How to make the most out of UCAS</a></li>
								<li><a href = "">Tailoring your personal statement for Russell Groups</a></li>
								<li><a href = "">Applying for Student Finance</a></li>
							</ul>
						</div>
					</div>
			</div>
			<br>  
			
			<br>
			<div id="uniInfo" class="modal">
				<h3 id="uniHeader"></h3>
				<p id="uniText"></p>
				<a href="#" rel="modal:close">Close</a>
			</div>
		
		<script>
			let h1 = "Imperial College London, Mathematics and Computer Science - A* A* A A + STEP";
			let h2 = "University of Cambridge, Computer Science - A* A* A + CSAT";
			let h3 = "University of Durham, Computer Science - A* A A";
			let s1 = `With the spread of computing procedures and mathematical ideas into many areas, there is high demand for professionals who are expert in both.
			Our Mathematics and Computer Science degrees are mathematical courses orientated towards computing science. Taught jointly by the Departments of Computing and Mathematics, they provide a firm foundation in mathematics, particularly in pure mathematics, numerical analysis and statistics. They also cover all the essentials of computer science, with an emphasis on developing software, as well as more theoretical topics.`;
			let s2 = `Cambridge was a pioneer of computer science and continues to lead its development. There are more than 1,000 specialist computing and advanced technology companies and commercial laboratories in the area (known as ‘Silicon Fen'). A number of local firms and start-ups support our teaching and employ our graduates.
			\nOur course is broad and deep – giving skills to create future technology.`;
			let s3 = `
Computer Science at Durham will provide you with the opportunity to gain academic and transferable skills along with fundamental technical knowledge of Computer Science by academics who work with cutting-edge research and provide an awareness of the role of Computer Science in modern society.
`;

			var maxHeight = 0;
			$(".main-widget").each(function () {
				if ($(this).height() > maxHeight) {
					maxHeight = $(this).height();
				}
			});
			$(".main-widget").height(maxHeight);

			$(window).on('resize', function(){ var maxHeight = 0;
			$(".main-widget").each(function () {
				if ($(this).height() > maxHeight) {
					maxHeight = $(this).height();
				}
			});
			$(".main-widget").height(maxHeight);
			});

			let addUni = function(uni, description){
					$('.add-widget').before(`<div class="main-widget uk-card uk-card-default">
					<div class="widget-content">
						<strong>${uni}</strong>
						<span>${description}</span>
					</div>
				</div>`);
				var maxHeight = 0;
				$(".main-widget").each(function () {
					if ($(this).height() > maxHeight) {
						maxHeight = $(this).height();
					}
				});
				$(".main-widget").height(maxHeight);
			};
			$(".main-widget:not(.add-widget)").css('cursor', 'pointer').click(function() {console.log("ok");switch ($(".main-widget").index(this)){
					case 0:
						$("#uniHeader").text(h1);
						$("#uniText").text(s1);
						break;
					case 1:
						$("#uniHeader").text(h2);
						$("#uniText").text(s2);
						break;
					case 2:
						$("#uniHeader").text(h3);
						$("#uniText").text(s3);
						break;
					default:
						$("#uniHeader").text("N/A");
						$("#uniText").text("N/A");
						break;
				};$("#uniInfo").modal({
  				fadeDuration: 100
			});});


			$(document).ready(function() {
				var unis = ["{{{universities}}}"];
				var courses = ["{{{courses}}}"];
				if (unis.length != 0 && unis[0] != "") {
					addUni(unis[0].split(",")[0], courses[0].split(",")[0]);
				}
			});

			$('.add-widget').css('cursor', 'pointer').click(function() {
					window.location.href = "/questions";
				//addUni("Imperial", "Computing");
				});
			</script>
		
	</div>
	
</body>
</html>